body{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    background-image: url(thanksgiving.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
header{
  text-align: center;
  color: white;
  background-color:rgba(255, 255, 255, 0.356);
  margin-top: 80px;
  border-radius: 8px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}
h1{
  font-size: 80px;
  letter-spacing: 4px;
}
h2{
  font-size: 40px;
}

.container{
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  background-color:rgba(255, 255, 255, 0.356);
  margin: 0 auto;
  margin-top: 200px;
  padding: 70px;
  text-align: center;
  display: block;
  max-width: 700px;
}
.time-left{
  font-size: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  text-align: center;
  font-weight: bold;
  margin-top: -20px;
  }

.time-left div::before{
content: "";
position: absolute;
font-size: .35em;
margin:-30px;

align-items: center;
text-align: center;
}

.time-left #days::before{
content: "Days";
  }
.time-left #hours::before{
  content: "Hours";
  }
  .time-left #minutes::before{
  content: "Minutes";
 
    }
  .time-left #seconds::before{
  content: "Seconds";
     
  }